

.gmap {
    min-height: 40em;
}

ul {
    line-height: 5px;

    li {
        line-height: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .BL {
        border-right: .25px solid #E3E3E3;
    }
    
    .BR {
        border-left: .25px solid #E3E3E3;
    }
}


