@import "./mixins";

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  font-display: swap;
}

html {
  overflow-x: hidden;
  font-size: 13px;
  scroll-behavior: smooth;
}

body {
  // background-color: #FFFDFA;
  color: #707070;
  letter-spacing: 2px;
  font-family: 'Open sans';

}

.container {
  min-height: calc(100vh - 300px - 4em - 3em);

}

h5, h3, h4, .price {
  font-style: normal;
  font-weight: bold;
  font-family: 'Open sans';
  margin-bottom: 0;
}

h5, h3 {
  text-transform: uppercase;
}

.price {
  font-size: 20px;
}

p {
  margin-bottom: 0;
  font-size: 1em;
  color: #707070;
}

i {
  font-size: .8em;
}

.spanner {
  line-height: 10px;

  p {
    line-height: 20px;
  }
}

.black-btn {
  background-color: black;
  color: white !important;
  border-radius: 4px;
  border: none;

  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

a {
  text-decoration: none;
  color: #707070;

  &:hover {
    text-decoration: none;
    color: #707070;
  }
}

.up {
  text-transform: uppercase;
}

.btn-b-gone {
  background-color: unset !important;
  border: unset !important;
  color: black !important;

  &:active,
  &:focus,
  &:hover,
  &:focus,
  &:focus-visible {
    background-color: unset !important;
    border: unset !important;
    color: black !important;
    outline: unset !important;
  }


  @media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
  }
}


img {
  width: 100%;
  height: auto;
}

// /* Enter and leave animations can use different */
// /* durations and timing functions.              */
// .page-enter-active {
//   transition: all .5s ease;
// }

// .page-leave-active {
//   transition: all .5s ease;
// }

// .page-enter, .page-leave-to
// /* .slide-fade-leave-active below version 2.1.8 */ {
//   // opacity: 0.5;
//   transform: translateX(100%)
// }