.fpmenu {
    z-index: 5;
    max-height: 100vh;
    overflow: hidden;
    

    .bgImg {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        filter: contrast(110%) blur(8px) grayscale(50%);
        // -webkit-filter: contrast(100%) blur(8px);
        transform: scale(1.1);
    }
    
    a {
        color: unset;
        height: 100%;
        width: 100%;
        font-weight: 500;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        &:hover {
            text-decoration: unset;
        }
    }

    img {
        width: 100%;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }

    .btn, .btn2,
    .mbtn {
        border-radius: 100%;
        position: absolute;
        overflow: hidden;
        cursor: pointer;
    }

    .mbtn {
        width: 8em;
        height: 8em;
        z-index: 2;
        box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
        background-color: white;
        border: none;
    }

    .btn, .btn2 {
        z-index: 1;
        width: 4.5em;
        height: 4.5em;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
        color: #707070;
        background-color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;

    }

    .black {
        background-color: black;
        color: white;
    }

    @media only screen and (min-width: 768px) {
        .mbtn {
            width: 15em;
            height: 15em;
        }
        
        .btn, .btn2 {
            width: 6em;
            height: 6em;
        }
      }

      @media only screen and (max-width: 480px) {
        .btn, .btn2 {
            a {
                font-size: .75em;
            }
        }
      }

}