@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

.logo {
  margin-top: 10em;
}

img {
  width: 100%;
  height: auto;
}

.text {
  text-align: center;
}

.insta {
  width: 45px !important;
  height: auto;
}